absl-py==2.3.1
ackermann-msgs==2.0.2
action-msgs==1.2.2
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.9.0
addict==2.4.0
aioserial==1.3.1
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
appdirs==1.4.4
apriltag-msgs==2.0.1
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
aruco-msgs==5.0.5
aruco-opencv-msgs==2.3.1
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
autobahn==21.11.1
Automat==20.2.0
babel==2.17.0
base58==1.0.3
batinfo==0.4.2
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bernhard==0.2.6
bleach==6.2.0
blinker==1.9.0
bloom==0.13.0
bond==4.1.2
bottle==0.12.19
Bottleneck==1.3.2
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
builtin-interfaces==1.2.2
cartographer-ros-msgs==2.0.9002
catkin==0.8.10
catkin-pkg==1.1.0
catkin-pkg-modules==1.1.0
cbor==1.0.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==3.4.4
chevron==0.14.0
chime==0.7.0
click==8.3.0
cloudpickle==3.1.1
cma==4.4.0
cmeel==0.57.3
cmeel-assimp==5.4.3.1
cmeel-boost==1.87.0.1
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml2==10.0.0
cmeel-urdfdom==4.0.1
cmeel-zlib==1.3.1
coal==3.0.1
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.20.0
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
colorlog==6.10.1
comm==0.2.3
command-not-found==0.3
composition-interfaces==1.2.2
ConfigArgParse==1.7.1
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.2
control-msgs==4.8.0
controller-manager==2.52.0
controller-manager-msgs==2.52.0
cov-core==1.15.0
coverage==6.2
cryptography==3.4.8
cupshelpers==1.0
cv-bridge==3.2.1
cycler==0.12.1
Cython==3.1.6
daqp==0.7.2
dash==3.2.0
dbus-python==1.2.18
debugpy==1.8.17
decision-maker==0.0.0
decision_maker_interfaces==0.0.0
decorator==5.2.1
defer==1.0.6
defusedxml==0.7.1
demo-nodes-py==0.20.5
Deprecated==1.2.13
diagnostic-aggregator==4.0.6
diagnostic-msgs==4.9.0
diagnostic-updater==4.0.6
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==5.0.3
docutils==0.17.1
domain-coordinator==0.10.0
drawnow==0.72.5
dulwich==0.20.31
duplicity==0.8.21
dwb-msgs==1.1.18
dynamixel_sdk==3.8.4
dynamixel_sdk_custom_interfaces==3.8.4
ecdsa==0.18.0b1
eigenpy==3.10.3
einops==0.8.1
empy==3.3.4
et-xmlfile==1.0.1
etils==1.13.0
evdev==1.9.2
example-interfaces==0.9.3
examples-rclpy-executors==0.15.4
examples-rclpy-minimal-action-client==0.15.4
examples-rclpy-minimal-action-server==0.15.4
examples-rclpy-minimal-client==0.15.4
examples-rclpy-minimal-publisher==0.15.4
examples-rclpy-minimal-service==0.15.4
examples-rclpy-minimal-subscriber==0.15.4
exceptiongroup==1.3.0
executing==2.2.1
Farama-Notifications==0.0.4
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
fastjsonschema==2.21.2
filelock==3.6.0
flake8==4.0.1
Flask==3.1.2
flatbuffers===1.12.1-git20200711.33e2d80-dfsg1-0.6
fonttools==4.60.1
fqdn==1.5.1
freetype-py==2.5.1
fs==2.4.12
fsspec==2025.9.0
ftfy==6.3.1
future==0.18.2
gast==0.5.2
gazebo-model-attachment-plugin==1.0.3
gazebo-model-attachment-plugin-msgs==1.0.3
gazebo-msgs==3.9.0
gazebo-video-monitor-interfaces==0.8.1
gazebo-video-monitor-utils==0.8.1
generate-parameter-library-py==0.5.0
genmsg==0.5.16
genpy==0.6.16
geometry-msgs==4.9.0
gitdb==4.0.12
GitPython==3.1.45
Glances==3.2.4.2
glfw==2.10.0
gpg==1.16.0
grid-map-msgs==2.0.1
grpcio==1.66.1
gTTS==2.5.4
gym-notices==0.1.0
h11==0.16.0
hello-robot-stretch-body==0.7.29
hello-robot-stretch-body-tools==0.7.13
hello-robot-stretch-diagnostics==0.0.14
hello-robot-stretch-factory==0.5.7
-e git+https://github.com/hello-robot/stretch_mujoco.git@fbb765335817240658bc1124c2ba3c1e28dc35cd#egg=hello_robot_stretch_mujoco
hello-robot-stretch-tool-share==0.3.4
hello-robot-stretch-urdf==0.1.2
hf-xet==1.1.10
hidapi==0.14.0.post4
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
huggingface-hub==0.35.3
hydra-colorlog==1.2.0
hydra-core==1.3.2
hyperlink==21.0.0
idna==3.3
ifaddr==0.2.0
image-geometry==3.2.1
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
incremental==21.3.0
influxdb==5.3.1
iniconfig==1.1.1
inputs==0.5
interactive-markers==2.3.2
ipykernel==6.29.5
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jdcal==1.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
joblib==1.5.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kachaka-api==3.14.4.0
keyboard==0.13.5
keyring==23.5.0
kiwisolver==1.4.9
language-selector==0.1
lap==0.5.12
lark==1.3.0
laser-geometry==2.4.0
launch==1.0.10
launch-param-builder==0.1.1
launch-pytest==1.0.10
launch-ros==0.19.12
launch-testing==1.0.10
launch-testing-ros==0.19.12
launch-xml==1.0.10
launch-yaml==1.0.10
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
lifecycle-msgs==1.2.2
llvmlite==0.38.0
lockfile==0.12.2
logging-demo==0.20.5
loguru==0.7.3
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
map-msgs==2.1.0
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.5.1
matplotlib-inline==0.2.1
mccabe==0.6.1
mdurl==0.1.2
mercurial==6.1.1
meshio==5.3.5
message-filters==4.3.8
mink==0.0.13
mistune==3.1.4
mnemonic==0.19
mobile-sam @ file:///mnt/HDD3/Sabrina/OpenGS-Fusion/submodules/MobileSAM
mocap4r2-control-msgs==0.0.7
monotonic==1.6
more-itertools==8.10.0
moveit-configs-utils==2.5.9
moveit-msgs==2.2.1
mpi4py==3.1.3
mpmath==1.3.0
msgpack==1.0.3
msgpack-numpy==0.4.8
mujoco==3.2.6
multimethod==2.0
narwhals==2.9.0
nav-2d-msgs==1.1.18
nav-msgs==4.9.0
nav2-common==1.1.18
nav2-msgs==1.1.18
nav2-simple-commander==1.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
nose==1.3.7
nose2==0.9.2
notebook==7.4.5
notebook_shim==0.2.4
notify2==0.3
numba==0.55.1
numexpr==2.8.1
numpy==1.26.4
numpy-stl==3.2.0
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py==13.580.82
nvidia-ml-py3==7.352.0
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.2.0
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
odfpy==1.4.2
olefile==0.46
omegaconf==2.3.0
onnx==1.19.1
onnxsim==0.4.36
open3d==0.19.0
open_clip_torch==3.2.0
openai-whisper==20250625
opencv-contrib-python==4.11.0.86
openpyxl==3.0.9
osrf-pycommon==2.1.6
overrides==7.7.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.5
passlib==1.7.4
patchelf==0.17.2.4
pathlib==1.0.1
patiencediff==0.2.1
patsy==0.5.2
pbkdf2==1.3
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pexpect==4.9.0
pillow==12.0.0
pin==3.7.0
pixel-ring==0.1.0
platformdirs==4.5.0
play-motion-builder-msgs==1.4.0
play-motion2==1.7.0
play-motion2-msgs==1.7.0
plotly==6.3.1
pluggy==0.13.0
ply==3.11
plyfile==1.1.2
prometheus_client==0.23.1
prompt_toolkit==3.0.52
protobuf==3.12.4
psutil==5.4.7
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.10.0
py-cpuinfo==9.0.0
py-ubjson==0.16.1
py3nvml==0.2.7
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyAudio==0.2.14
pybind11==3.0.1
pybullet==3.2.7
pycairo==1.20.1
pycodestyle==2.8.0
pycollada==0.6
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pydocstyle==6.1.1
pydot==1.4.2
pydub==0.25.1
pyflakes==2.4.0
pygal==3.0.5
pygame==2.6.1
PyGithub==1.55
pyglet==2.1.9
Pygments==2.19.2
PyGObject==3.42.1
pygraphviz==1.7
PyHamcrest==2.0.2
PyJWT==2.3.0
pymacaroons==0.13.0
pymdstat==0.4.3
PyNaCl==1.5.0
pynput==1.8.1
pynvml==13.0.1
PyOpenGL==3.1.0
pyOpenSSL==21.0.0
pyparsing==3.2.5
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyquaternion==0.9.9
pyrealsense2==2.56.5.9235
pyrender==0.1.45
pyRFC3339==1.1
pyribbit==0.1.46
pyserial==3.5
pySMART.smartx==0.3.10
pysmi==0.3.2
pysnmp==4.4.12
pystache==0.6.0
pytest==6.2.5
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-gitlab==2.10.1
python-json-logger==3.3.0
python-pcl==0.3
python-qt-binding==1.1.2
python-snappy==0.5.3
python-utils==3.9.1
python-xlib==0.33
pythran==0.10.0
PyTrie==0.4.0
pyttsx3==2.99
pytz==2025.2
pyusb==1.3.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==27.1.0
qpsolvers==4.8.1
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.5
rcl-interfaces==1.2.2
rclpy==3.3.17
rcutils==5.1.7
realsense2-camera-msgs==4.56.4
referencing==0.37.0
regex==2025.9.18
renamed-opencv-python-inference-engine==2022.1.5
reportlab==3.6.8
requests==2.25.1
requests-toolbelt==0.9.1
resource-retriever==3.1.3
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rmw-dds-common==1.6.0
-e git+https://github.com/hello-binit/robocasa.git@336e8d98c69bcc06238ff59728c5919308923622#egg=robocasa&subdirectory=../../../third_party/robocasa
robosuite @ file:///mnt/HDD1/phudh/robotic_project/ament_ws/src/stretch_ros2/stretch_simulation/stretch_mujoco_driver/dependencies/stretch_mujoco/third_party/robosuite
roman==3.3
ros2action==0.18.14
ros2bag==0.15.15
ros2cli==0.18.14
ros2component==0.18.14
ros2controlcli==2.52.0
ros2doctor==0.18.14
ros2interface==0.18.14
ros2launch==0.19.12
ros2lifecycle==0.18.14
ros2multicast==0.18.14
ros2node==0.18.14
ros2param==0.18.14
ros2pkg==0.18.14
ros2run==0.18.14
ros2service==0.18.14
ros2topic==0.18.14
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosclean==1.15.8
rosdep==0.26.0
rosdep-modules==0.26.0
rosdistro==1.0.1
rosdistro-modules==1.0.1
rosgraph==1.15.14
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.7
rosidl-cli==3.1.7
rosidl-cmake==3.1.7
rosidl-generator-c==3.1.7
rosidl-generator-cpp==3.1.7
rosidl-generator-py==0.14.5
rosidl-parser==3.1.7
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
roslaunch==1.15.14
roslib==1.15.8
rosmaster==1.15.14
rosparam==1.15.14
rospkg==1.6.0
rospkg-modules==1.6.0
rpds-py==0.28.0
rpl==1.12
rplidar-roboticia==0.9.5
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-controller-manager==2.52.0
rqt-dotgraph==0.0.5
rqt-gauges==0.0.3
rqt-graph==1.3.1
rqt-gui==1.1.8
rqt-gui-py==1.1.8
rqt-joint-trajectory-controller==2.50.1
rqt-moveit==1.0.1
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.8
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==1.0.6
rqt-robot-steering==1.0.3
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-tf-tree==1.0.5
rqt-topic==1.5.0
rtabmap-msgs==0.22.1
rtabmap-python==0.1.0
safetensors==0.6.2
scandir==1.10.0
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
scripts==3.9.0
seaborn==0.11.2
SecretStorage==3.3.1
semantic-gs-slam-interfaces==0.0.0
semantic-gs-slam-ros==0.0.1
semantic-slam==0.0.0
semantic-slam-interfaces==0.0.0
Send2Trash==1.8.3
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
sentry-sdk==2.42.1
service-identity==18.1.0
sh==2.2.2
shape-msgs==4.9.0
Shimmy==0.2.1
simple-knn @ file:///mnt/HDD3/Sabrina/OpenGS-Fusion/submodules/simple-knn
simpleaudio==1.0.4
six==1.17.0
slam-toolbox==2.6.10
smclib==4.1.2
smmap==5.0.2
snakeviz==2.2.2
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.1.0
sounddevice==0.5.2
soupsieve==2.3.1
sparklines==0.7.0
SpeechRecognition==3.14.3
spidev==3.8
srdfdom==2.0.7
sros2==0.10.7
ssh-import-id==5.11
stable_baselines3==2.3.2
stack-data==0.6.3
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
stress==1.0.0
sympy==1.14.0
systemd-python==234
tables==3.7.0
tabulate==0.9.0
teleop-twist-keyboard==2.4.1
tensorboard-data-server==0.7.2
tensorpack==0.11
termcolor==3.1.0
terminado==0.18.1
tf-transformations==1.1.0
tf2-geometry-msgs==0.25.16
tf2-kdl==0.25.16
tf2-msgs==0.25.16
tf2-py==0.25.16
tf2-ros-py==0.25.16
tf2-sensor-msgs==0.25.16
tf2-tools==0.25.16
theora-image-transport==2.5.4
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.12.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
topic-monitor==0.20.5
torch==2.8.0
torchpack==0.3.1
torchvision==0.23.0
tornado==6.5.2
tqdm==4.57.0
traitlets==5.14.3
trajectory-msgs==4.9.0
transforms3d==0.4.2
trimesh==4.4.7
triton==3.4.0
turtlebot3_example==2.3.3
turtlebot3_msgs==2.4.0
turtlebot3_teleop==2.3.3
turtlesim==1.4.3
Twisted==22.1.0
txaio==21.2.1
typeguard==2.2.2
types-python-dateutil==2.9.0.20250822
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
u-msgpack-python==2.3.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.1.0
ultralytics==8.3.168
ultralytics-thop==2.0.17
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.2.1
urchin==0.0.29
urdf-parser-py==0.0.4
urdfdom-py==1.2.1
urdfpy==0.0.22
uri-template==1.3.0
urllib3==1.26.5
usb-creator==0.3.7
vcstool==0.3.0
vcstools==0.1.42
velodyne-msgs==2.5.1
virtualenv==20.13.0+ds
visualization-msgs==4.9.0
wadllib==1.3.6
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
whisper==1.1.10
widgetsnbextension==4.0.14
wifi==0.3.8
wrapt==1.13.3
wsaccel==0.6.3
wstool==0.1.18
wxPython==4.2.0
xacro==2.1.1
xdg==5
xkit==0.0.0
xlwt==1.3.0
xmltodict==1.0.2
zeroconf==0.148.0
zipp==3.23.0
zope.interface==5.4.0
